.sign-up {
  flex: 1;
  background: linear-gradient(180deg, #ffd2a9 0%, rgba(186, 178, 178, 0) 100%);
  &-container {
    background-color: #fff;
    margin-top: 90px;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 80px 102px 80px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 390px) {
      margin-top: 83px;
      margin-left: 30px;
      margin-right: 30px;
      width: auto;
      padding: 50px 36px 67px 36px;
    }

    .title {
      font-weight: 700;
      text-align: center;
      font-size: 50px;
      line-height: 73px;
      margin-bottom: 56px;
      @media screen and (max-width: 390px) {
        margin-bottom: 60px;
      }
    }

    .email-sign-btn {
      background: #2dc24e;
      border-radius: 100px;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      padding: 10px 0;
      margin-bottom: 54px;
      &:hover {
        cursor: pointer;
      }
    }

    .divider-caption {
      display: flex;
      justify-items: space-between;
      @media screen and (max-width: 390px) {
        justify-content: center;
        > div {
          &:nth-child(2) {
            flex: 2;
          }
        }
      }
      align-items: center;
      margin-bottom: 50px;
      > div {
        flex: 1;
        font-weight: 500;
        font-size: 15px;
        line-height: 35px;
        text-align: center;
        &:first-child,
        &:last-child {
          border-top: 1px solid #000000;
        }
      }
    }

    .google-sign-btn {
      text-align: center;
      border: 1px solid #000000;
      border-radius: 100px;
      padding-top: 4px;
      @media screen and (max-width: 390px) {
        padding-top: 4px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.email-sign-form {
  > input {
    width: 100%;
    margin-bottom: 35px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 8px;

    &:focus-visible {
      outline: none;
    }
  }

  ::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
    color: #5c5b5b;
  }

  .password-field {
    margin-bottom: 70px;
  }

  .sign-up-button {
    background: #2dc24e;
    border-radius: 100px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.sign-up.dark {
  background: linear-gradient(180deg, #000000 0%, #1e1e1e 100%);
  .sign-up-container {
    background: #5c5b5b;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    color: #fff;

    .divider-caption {
      > div {
        &:first-child,
        &:last-child {
          border-top: 1px solid #fff;
        }
      }
    }

    .google-sign-btn {
      border: 1px solid #fff;
      background: transparent;
    }
  }
}
