.header {
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: 390px) {
    height: 70px;
    z-index: 100;
  }
  z-index: 100;
  > img {
    padding-top: 12px;
    padding-left: 313px;
    padding-bottom: 12px;
    @media screen and (max-width: 390px) {
      height: 60px;
      padding-top: 5px;
      padding-left: 20px;
      padding-bottom: 5px;
    }

    @media screen and (max-width: 1919px) and (min-width: 390px) {
      padding-left: calc(20px + (310 / 19.2) * 1vw);
    }
  }

  &.dark {
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
