.generated-images-viewer {
  display: flex;
  padding: 0 44px;
  @media screen and (max-width: 390px) {
    padding: 0 27px;
  }
  margin-bottom: 80px;
  .time-counter {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #5c5b5b;
    margin-right: 26px;
    width: 167px;
    height: 33px;
    text-align: right;
    @media screen and (max-width: 390px) {
      display: none;
    }
  }
}

.generator-header {
  display: flex;
  @media screen and (max-width: 390px) {
    flex-direction: column;
  }
  .main-image {
    height: 306px;
    width: 352px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 36px;
    @media screen and (max-width: 390px) {
      width: 276px;
      height: 218px;
      margin-bottom: 14px;
      margin-right: 0;
    }
  }
}

.thumbnails-container {
  display: flex;
  height: 306px;
  width: 254px;
  flex-wrap: wrap;
  @media screen and (max-width: 390px) {
    display: none;
  }
  > .thumbnail {
    height: 84px;
    width: 105px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 22px;
    margin-bottom: 25px;
    img {
      height: 100%;
      width: 100%;
    }
    &.locked {
      position: relative;
      opacity: 0.5;
      background-color: #d9d9d9;
      svg {
        position: absolute;
        right: 11px;
        top: 11px;
        padding: 10px;
        border-radius: 20px;
        background-color: #fff;
      }
    }
  }
}

.tag-container {
  display: flex;
  margin-top: 21px;
  margin-right: 22px;
  height: 40px;
  @media screen and (max-width: 390px) {
    display: none;
  }
  .tag-button {
    width: 56px;
    text-align: center;
    color: #fff;
    background: #5c5b5b;
    line-height: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  input {
    flex: 1;
    background: #faf9f9;
    border: 1px solid #bab2b2;
    text-indent: 18px;

    &:focus-visible {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #5c5b5b;
    }
  }
}
