.thumbnails {
  display: none;
  .lguFiu > button {
    height: 17px;
    width: 17px;
    line-height: 17px;
    min-width: 17px;
    font-size: 1rem;
  }

  .biYdFZ {
    margin: 0 2px;
  }

  .jtKTCe {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .thumbnails {
    display: block;
  }
}
