.login {
  flex: 1;
  background: linear-gradient(180deg, #ffd2a9 0%, rgba(186, 178, 178, 0) 100%);
  &-container {
    width: 630px;
    margin: auto;
    margin-top: 90px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 40px 80px;
    @media screen and (max-width: 390px) {
      margin-top: 83px;
      margin-left: 30px;
      margin-right: 30px;
      width: auto;
      padding: 50px 36px 67px 36px;
    }
    .login-title {
      font-weight: 700;
      text-align: center;
      font-size: 50px;
      line-height: 73px;
      margin-bottom: 56px;

      @media screen and (max-width: 390px) {
        margin-bottom: 45px;
      }
    }

    > input {
      display: block;
      width: 100%;
      margin-bottom: 35px;
      padding: 8px 16px;
      height: 50px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000000;
      &:last-child {
        margin-bottom: 6px;
      }
      &:focus-visible {
        outline: none;
      }
    }

    ::-webkit-input-placeholder {
      font-weight: 300;
      font-size: 15px;
      line-height: 35px;
      color: #5c5b5b;
    }

    .forgot-password {
      text-align: end;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 28px;

      @media screen and (max-width: 390px) {
        margin-bottom: 52px;
      }
    }

    .login-button {
      background: transparent;
      border: 1px solid #000000;
      border-radius: 100px;
      text-align: center;
      padding: 8px 0;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.login.dark {
  background: linear-gradient(180deg, #000000 0%, #1e1e1e 100%);
  .login-container {
    background: #5c5b5b;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    color: #fff;

    ::-webkit-input-placeholder {
      color: #b1b1b1;
    }

    > input {
      border-bottom: 1px solid #ffffff;
    }

    .login-button {
      border: 1px solid #ffffff;
    }
  }
}
